* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-family: "Fira Sans", sans-serif;
  color: #0e0e0e;
}

.btn-primary {
  color: #fff;
  background-color: #006a50;
  border-radius: 8px;
  padding: 17px 34px;
  max-width: fit-content;
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  font-weight: 500;
  cursor: pointer;
}
.btn-primary:hover{
    background-color: transparent;
    border: 1px solid gray;
    color: black;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}
nav h2 {
  font-size: clamp(2.5rem, 3vw, 3.2rem);
  font-weight: bold;
}
nav button {
  padding: 15px 30px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #006a50;
  color: #006a50;
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  font-weight: 500;
  transition: all 0.2s;
  cursor: pointer;
}
nav button:hover {
  background-color: #006a50;
  color: #fff;
}

/* Banner Section */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #c6e4d6;
  min-height: 560px;
  border-radius: 24px;
  padding: 80px 60px;
}
.banner-content p {
  font-size: clamp(2rem, 3vw, 2.4rem);
  font-weight: 500;
  color: #0e0e0e50;
  margin-bottom: 16px;
}
.banner-content h2 {
  font-size: clamp(4.5rem, 4vw, 5.6rem);
  font-weight: bold;
  margin-bottom: 24px;
}
.banner-image{
    width: 100%;
    max-width: 474px;
}