* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-family: "Fira Sans", sans-serif;
  color: #0e0e0e;
}

.btn-primary {
  color: #fff;
  background-color: #006a50;
  border-radius: 8px;
  padding: 17px 34px;
  max-width: fit-content;
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}
.vision-section .btn-primary {
  background-color: #5490f5;
}
.vision-card:nth-child(2) .btn-primary {
  background-color: #09a15c;
}
.vision-card:nth-child(3) .btn-primary {
  background-color: #ffc239;
}
.btn-primary:hover {
  background-color: transparent !important;
  border: 1px solid gray;
  color: black;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}
nav h2 {
  font-size: clamp(2.5rem, 3vw, 3.2rem);
  font-weight: bold;
}
nav button {
  padding: 15px 30px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #006a50;
  color: #006a50;
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  font-weight: 500;
  transition: all 0.2s;
  cursor: pointer;
}
nav button:hover {
  background-color: #006a50;
  color: #fff;
}

/* Banner Section */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #c6e4d6;
  min-height: 560px;
  border-radius: 24px;
  padding: 80px 60px;
}
.banner-content p {
  font-size: clamp(2rem, 3vw, 2.4rem);
  font-weight: 500;
  color: #0e0e0e50;
  margin-bottom: 16px;
}
.banner-content h2 {
  font-size: clamp(4.5rem, 4vw, 5.6rem);
  font-weight: bold;
  margin-bottom: 24px;
}
.banner-image {
  width: 100%;
  max-width: 474px;
}

/* Pillars, Vision and Opinion Section */

.card,
.vision-cards {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}
.vision-cards {
  margin-bottom: 32px;
}
.pillars h3,
.vision-section h2,
.opinion h2,
.news-section > h2,
.donate-section h2 {
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 32px;
}

.cards,
.vision-card {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #0e0e0e15;
  transition: 0.3s;
}
.vision-card {
  background-color: #5490f550;
}
.vision-card:nth-child(2) {
  background-color: #c6e4d6;
}
.vision-card:nth-child(3) {
  background-color: #f7ebcf;
}
.cards:hover,
.vision-card:hover {
  background-color: lightgray;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.128);
}
.cards img,
.vision-cards img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.cards h4,
.vision-cards h4 {
  font-size: clamp(1.7rem, 3vw, 2rem);
  font-weight: bold;
  color: #0e0e0e80;
  margin-bottom: 12px;
}
.cards p,
.vision-cards p,
.vision-section p,
.news-section p,
.donate-section p {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  color: #0e0e0e70;
  line-height: 24px;
  margin-bottom: 20px;
}
.quote {
  padding: 48px 24px;
  border-radius: 16px;
  background: url(./assets/quote-bg.png) 24px 24px no-repeat, #fff;
}
.quote h4 {
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 5px;
}
.table {
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
}
.th {
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px;
  background-color: #c6e4d6;
}
.th p {
  font-size: 20px;
  font-weight: 600;
}
.td p {
  padding: 36px 24px;
  font-size: 16px;
  font-weight: 500;
}
.td .bdr {
  padding: 36px;
  border-left: 1px solid gray;
}
.td .bdr button {
  background-color: #c6e4d6;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
.tbody {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-top: none;
}

/* News Section */

.news-content {
  border-radius: 24px;
  background-color: #fff;
  padding: 48px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 24px;
}
.news-content .img img {
  border-radius: 24px;
}
.text h2 {
  color: #0e0e0e80;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}
.text img {
  margin-bottom: 12px;
}
.reverse {
  flex-direction: row-reverse;
}

/* Donate Section */

.donate-section {
  padding: 0 90px;
}
.donate-center {
  text-align: center;
}
ul {
  display: flex;
  gap: 24px;
  margin: 12px 0 32px;
}
ul li {
  color: #0e0e0e80;
  list-style: none;
  font-size: 40px;
  font-weight: bold;
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  transition: 0.3s;
}
ul li:hover {
  background-color: #c6e4d6;
}
.other-amount {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  color: #0e0e0e70;
  background-color: #fff;
  padding: 20px;
}

/* Subscribe Section */
